
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    /* border: 3px solid red; */
    /* box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 1px 3px 4px 0px rgba(0,0,0,0.07); */
    position: fixed;
    padding: 15px;
    width: 100vw;
    top: 0;
    z-index: 1;
}
.container{
    /* border: 3px solid green; */
    /* width: 1370px; */
    /* margin: auto; */
    /* max-width: 100%; */
    /* display: flex; */
}
.logo img{
    /* border: 3px solid yellow; */
    width: 151px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.menu{
    display: flex;
    flex: 1;
    /* border: 3px solid black; */
    /* width: 80%; */
    align-items: center;
    justify-content: flex-end;
}
.menu a{
    /* border: 3px solid gray; */
    padding: 10px;
    margin: 16px;
    text-decoration: none;
    font-weight: bold;
}
.burger-menu{
    display: none;
}

/* ABOVE NAVBAR */
/* BELOW HERO SECTION */

.hero-section{
    background: #f1f3ff;
    padding-top: 250px;
    position: relative;
}
.hero-content{
    padding: 87px 0;
}
.hero-content h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
}
.hero-content p{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    max-width: 75%;
    margin-bottom: 15px;
}
.hero-content a{
    background-color: #5CB85F ;
    border-color: #5CB85F ;
    border-radius: 2px;
    padding: 8px 12px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 14px;
    color: #fffff;
}
.hero-thumbnail{
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
}
.hero-thumbnail img{
    width: 100%;
}




@media (max-width: 991px) {
    .menu{
        display: none;
    }
    .burger-menu{
        display: block;
        display: flex;
        flex: 1;
        justify-content: end;
        align-items: center;
    }
    .burger-menu img{
        width: 40px;
    }
    .hero-thumbnail{
        position: relative;
        width: 100%;
        right: auto;
        bottom: auto;
    }
    .hero-section{
        padding-top: 70px;
    }
    .hero-content{
        padding: 30px 0;
    }
    .hero-content h1{
        font-size: 32px;
    }
    .hero-content p{
        max-width: 100%;
    }
}
@media (min-width: 1600px) {
    .hero-thumbnail{
        width: 40%;
    }
}


@media (max-width: 767px) {
    .menu{
        
    }
}


